.header-heading {
    position: absolute;
    top: 250%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgb(255, 255, 255); 
    margin: 0; 
    font-size: 40px; 
    font-family: 'Porter Sans Block', sans-serif;
    white-space: nowrap; 
}

.header-container {
    width: 100%;
    text-align: center; 
}
 
  .logo img {
    width: 250px; 
    height: auto; 
    margin-right: 100px; 
}



nav {
    position: absolute;
    top: 20px; 
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 10px 20px; 
    border-radius: 25px; 
    text-align: center; 
    left: 50%;
    transform: translateX(-50%);
}

a.active {
    color: red; 
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
}

li {
    margin-right: 20px; 
}

a {
    text-decoration: none;
    color: black; 
}

a:hover {
    color: red; 
}

.basket-button .total-ticket-in-cart {
    margin-left: 10px;
    padding: 5px;
    background-color: rgb(242, 255, 58);
    border-radius: 5px;
  }
  

header {
    background-image: url('assets/headerbackBack.png'); 
    background-size: cover;
    background-position: center;
    height: 55vh; 
    padding: 20px;
    position: relative; } 


    
    .filter-section {
        background-color: #3d0764;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: white;
    }
    
    .filter-section button,
    .filter-section select {
        background-color: #5e2b97;
        border: none;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 5px;
    }
    
    .filter-section p {
        margin: 0;
        display: flex;
        align-items: center;
    }
    
    .filter-section #results-per-page {
        margin-left: 5px;
        padding: 5px 10px;
        background-color: #5e2b97;
        border-radius: 5px;
        border: none;
        color: white;
        cursor: pointer;
    }
    
    .filter-section #sort-options {
        padding: 5px 10px;
        background-color: #5e2b97;
        border-radius: 5px;
        border: none;
        color: white;
        cursor: pointer;
    }
    

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.divider {
    width: 1px;
    height: 20px; 
    background-color: #ccc; 
    margin: 0 10px; 
}


.search-bar {
    display: flex;
    align-items: center;
    margin-left: 100px; 
}



.button-group {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px; 
}

.search-bar button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.basket-button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.basket-button .fa-shopping-basket {
    color: black;
}

.item-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
}

.small-text {
    display: flex;
  }
  
  .original-price,
  .discounted-price {
    margin-right: 20px; 
  }
  

.info-section6 {
    background-color: #fefdfe;
    padding: 50px 0; 
}

.info-section6 .container {
    display: flex;
    align-items: center;
}

.info-section6 .image {
    flex: 1;
    text-align: center;
}

.info-section6 .image img {
    max-width: 100%;
    max-height: 100%;
}

.info-section6 .content {
    flex: 1;
    padding: 0 20px;
}

.info-section6 h3 {
    font-size: 40px;
    color: #050505;
    margin-top: 10px;
}

.info-section6 .small-text {
    font-size: 18px;
    color: rgb(114, 114, 114);
}


.rating6 span i {
    color: rgb(91, 92, 9);
    margin-right: 5px;
}


.vertical-line6 {
    border-left: 1px solid #080808;
    height: 15px; 
    margin: 0 10px; 
}

.info-section6 .rating {
    margin-top: 10px;
    
}

.info-section6 .rating span {
    margin-right: 5px;
}

.info-section6 .customer-reviews {
    color: #888;
    margin-left: 10px;
}

.info-section6 p {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
}

.quantity-button6 {
    background-color:   #490a67;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    
}

.quantity-display6 {
    background-color:  #490a67;
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.info-section6 .quantity-button.minus {
    margin-right: 10px; 
}


.quantity-button.plus {
    margin-left: 0; 
}

.info-section6 .button-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-start;
}

.info-section6 .quantity-display,
.info-section6 .red-button {
    background-color: #490a67(103, 217, 246);
    color: white;
    border: none;
    padding: 20px 60px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.info-section6 .red-button {
    background-color: red;
}

.info-section6 hr {
    border: none;
    border-top: 2px solid #070707;
    margin-top: 40px;
}

.info-section6 .details {
    margin-top: 10px;
    margin-left: auto; 
    width: auto; 
    margin-right: 20px; 
}



.info-section5 {
    background-color: #490a67;
    padding: 50px 0; 
}

.info-section5 .container {
    display: flex;
    align-items: center;
}

.info-section5 .image {
    flex: 1;
    text-align: center;
}

.info-section5 .image img {
    max-width: 100%;
    max-height: 100%;
}

.info-section5 .content {
    flex: 1;
    padding: 0 20px;
}

.info-section5 h3 {
    font-size: 40px;
    color: #ffffff;
    margin-top: 10px;
}

.info-section5 .small-text {
    font-size: 18px;
    color: rgb(103, 217, 246);
}


.rating span i {
    color: yellow;
    margin-right: 5px;
}


.vertical-line {
    border-left: 1px solid #ccc;
    height: 15px; 
    margin: 0 10px; 
}

.info-section5 .rating {
    margin-top: 10px;
    
}

.info-section5 .rating span {
    margin-right: 5px;
}

.info-section5 .customer-reviews {
    color: #888;
    margin-left: 10px;
}

.info-section5 p {
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
}


.quantity-button5 {
    background-color:  rgb(103, 217, 246);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.quantity-display5 {
    background-color:  rgb(103, 217, 246);
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.info-section5 .quantity-button.minus {
    margin-right: 10px; 
}


.quantity-button.plus {
    margin-left: 0; 
}

.info-section5 .button-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-start;
}

.info-section5 .quantity-button2,
.info-section5 .red-button {
    background-color: rgb(103, 217, 246);
    color: white;
    border: none;
    padding: 20px 60px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.info-section5 .red-button {
    background-color: red;
}

.info-section5 hr {
    border: none;
    border-top: 2px solid #ffffff;
    margin-top: 40px;
}

.info-section5 .details {
    margin-top: 10px;
    margin-left: auto; 
    width: auto; 
    margin-right: 20px; 
}


.info-section4 {
    background-color: #fefdfe;; 
    padding: 50px 0; 
}

.info-section4 .container {
    display: flex;
    align-items: center;
}

.info-section4 .image {
    flex: 1;
    text-align: center;
}

.info-section4 .image img {
    max-width: 100%;
    max-height: 100%;
}

.info-section4 .content {
    flex: 1;
    padding: 0 20px;
}

.info-section4 h3 {
    font-size: 40px;
    color: #050505;
    margin-top: 10px;
}

.info-section4 .small-text {
    font-size: 18px;
    color: rgb(114, 114, 114);
}


.rating4 span i {
    color: rgb(91, 92, 9);
    margin-right: 5px;
}


.vertical-line4 {
    border-left: 1px solid #080808;
    height: 15px; 
    margin: 0 10px; 
}

.info-section4 .rating {
    margin-top: 10px;
    
}

.info-section4 .rating span {
    margin-right: 5px;
}

.info-section4 .customer-reviews {
    color: #888;
    margin-left: 10px;
}

.info-section4 p {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
}

.quantity-button4 {
    background-color:  #490a67;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.quantity-display4 {
    background-color:  #490a67;
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}


.info-section4 .quantity-button.minus {
    margin-right: 10px; 
}


.quantity-button.plus {
    margin-left: 0; 
}

.info-section4 .button-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-start;
}

.info-section4 .quantity-button,
.info-section4 .red-button {
    background-color: #490a67(103, 217, 246);
    color: white;
    border: none;
    padding: 20px 60px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.info-section4 .red-button {
    background-color: red;
}

.info-section4 hr {
    border: none;
    border-top: 2px solid #070707;
    margin-top: 40px;
}

.info-section4 .details {
    margin-top: 10px;
    margin-left: auto; 
    width: auto; 
    margin-right: 20px; 
}



.info-section3 {
    background-color: #490a67;
    padding: 50px 0; 
}

.info-section3 .container {
    display: flex;
    align-items: center;
}

.info-section3 .image {
    flex: 1;
    text-align: center;
}

.info-section3 .image img {
    max-width: 100%;
    max-height: 100%;
}

.info-section3 .content {
    flex: 1;
    padding: 0 20px;
}

.info-section3 h3 {
    font-size: 40px;
    color: #ffffff;
    margin-top: 10px;
}

.info-section3 .small-text {
    font-size: 18px;
    color: rgb(103, 217, 246);
}


.rating span i {
    color: yellow;
    margin-right: 5px;
}


.vertical-line {
    border-left: 1px solid #ccc;
    height: 15px; 
    margin: 0 10px; 
}

.info-section3 .rating {
    margin-top: 10px;
    
}

.info-section3 .rating span {
    margin-right: 5px;
}

.info-section3 .customer-reviews {
    color: #888;
    margin-left: 10px;
}

.info-section3 p {
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
}


.quantity-button3 {
    background-color:  rgb(103, 217, 246);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.quantity-display3 {
    background-color:  rgb(103, 217, 246);
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.info-section3 .quantity-button.minus {
    margin-right: 10px; 
}


.quantity-button.plus {
    margin-left: 0; 
}

.info-section3 .button-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-start;
}

.info-section3 .quantity-button,
.info-section3 .red-button {
    background-color: rgb(103, 217, 246);
    color: white;
    border: none;
    padding: 20px 60px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.info-section3 .red-button {
    background-color: red;
}

.info-section3 hr {
    border: none;
    border-top: 2px solid #ffffff;
    margin-top: 40px;
}

.info-section3 .details {
    margin-top: 10px;
    margin-left: auto; 
    width: auto; 
    margin-right: 20px; 
}



.info-section2 {
    background-color: #ffffff;; 
    padding: 50px 0; 
}

.info-section2 .container2 {
    display: flex;
    align-items: center;
}

.info-section2 .image {
    flex: 1;
    text-align: center;
}

.info-section2 .image img {
    max-width: 100%;
    max-height: 100%;
}

.info-section2 .content {
    flex: 1;
    padding: 0 20px;
}

.info-section2 h3 {
    font-size: 40px;
    color: #050505;
    margin-top: 10px;
}

.info-section2 .small-text2 {
    font-size: 18px;
    color: rgb(120, 124, 125);
}


.rating2 span i {
    color: yellow;
    margin-right: 5px;
}


.vertical-line {
    border-left: 1px solid #ccc;
    height: 15px; 
    margin: 0 10px; 
}

.info-section2 .rating {
    margin-top: 10px;
    
}

.info-section2 .rating span {
    margin-right: 5px;
}

.info-section2 .customer-reviews {
    color: #888;
    margin-left: 10px;
}

.info-section2 p {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
}


.quantity-button2 {
    background-color:  #490a67;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.quantity-display2 {
    background-color:  #490a67; 
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}



.quantity-button.minus2 {
    margin-right: 0; 
}

.quantity-button.plus2 {
    margin-left: 0; 
}

.info-section2 .button-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-start;
}

.info-section2 .quantity-button,
.info-section2 .red-button {
    background-color: red(103, 217, 246);
    color: white;
    border: none;
    padding: 20px 60px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.info-section2 .red-button {
    background-color: red;
}

.info-section2 hr {
    border: none;
    border-top: 1.5px solid #060505;
    margin-top: 40px;
}

.info-section2 .details {
    margin-top: 10px;
    margin-left: auto; 
    width: auto; 
    margin-right: 20px; 
}


  
  .info-section {
    background-color: #490a67; 
    padding: 50px 0; 
}

.info-section .container {
    display: flex;
    align-items: center;
}

.info-section .image {
    flex: 1;
    text-align: center;
}

.info-section .image img {
    max-width: 100%;
    max-height: 100%;
}

.info-section .content {
    flex: 1;
    padding: 0 20px;
}

.info-section h3 {
    font-size: 40px;
    color: #ffffff;
    margin-top: 10px;
}

.info-section .small-text {
    font-size: 18px;
    color: rgb(103, 217, 246);
}


.rating span i {
    color: yellow;
    margin-right: 5px;
}


.vertical-line {
    border-left: 1px solid #ccc;
    height: 15px; 
    margin: 0 10px; 
}

.info-section .rating {
    margin-top: 10px;
    
}

.info-section .rating span {
    margin-right: 5px;
}

.info-section .customer-reviews {
    color: #888;
    margin-left: 10px;
}

.info-section p {
    font-size: 16px;
    color: #f8f6f6;
    margin-top: 10px;
}


.quantity-display1 {
    background-color: rgb(103, 217, 246);
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}
.quantity-button1 {
    background-color: rgb(103, 217, 246);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.quantity-button.minus {
    margin-right: 0; 
}

.quantity-button.plus {
    margin-left: 0; 
}

.info-section .button-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-start;
}

.info-section .quantity-button,
.info-section .red-button {
    background-color: rgb(103, 217, 246);
    color: white;
    border: none;
    padding: 20px 60px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.info-section .red-button {
    background-color: red;
}

.info-section hr {
    border: none;
    border-top: 2px solid #ffffff;
    margin-top: 40px;
}

.info-section .details {
    margin-top: 10px;
    margin-left: auto; 
    width: auto; 
    margin-right: 20px; 
}



.view-cart-button {
    position: absolute;
    top: 4600px; 
    right: 20px; 
    background-color: red;
    color: white;
    padding: 20px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    opacity: 70%;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
    background-color: #fff;
    margin: 10% auto; 
    padding: 30px;
    border-radius: 10px;
    width: 100%; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
}

.modal-content h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
}

.modal-content ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.modal-content ul li div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.modal-content ul li img {
    margin-right: 20px;
    border-radius: 5px;
}

.modal-content p#cart-total {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    text-align: right;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.red-button {
    background-color:  rgb(103, 217, 246);
    color: #090909;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.red-button:hover {
    background-color:  rgb(103, 217, 246);
}


.remove-item {
    background-color:  red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.remove-item:hover {
    background-color: darkred;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}


.footer {
    background-color: #ffffff; 
    color: #050505; 
    padding: 50px 120px; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.footer-well {
    flex: 0 0 calc(33.33% - 20px); 
    margin-right: 20px; 
    color: #050505; 
   
    
}

.footer-well:last-child {
    margin-right: 0;
}

.footer-well h4 {
    margin-bottom: 10px; 
}

.footer-logo {
    width: 250px;
    height: auto; 
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px; 
}

.footer-left {
    flex: 1; 
    color: #817e7e; 
}

.footer-right {
    flex: 1; 
    text-align: right;
    color: #817e7e; 
}

.footer-bottom hr {
    border-color: #fff; 
    margin: 5px 0; 
}

.footer-icon {
    width: 60px; 
    height: auto; 
    margin-right: 5px; 
}

.footer-well p {
    color: #050505; 
}
footer .company-info {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.footer-company li {
  list-style-type: none; 
  padding: 0;
  margin: 0 0 10px 0; 
}


.quantity-display {
    background-color:  #490a67;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.quantity-button.minus {
    background-color:   #490a67;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}


.quantity-button.plus {
    background-color:  #490a67;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.button-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

